*,
*::before,
*::after {
  box-sizing: border-box;
}

.parent {
  border: solid 2px black;
  text-align: center;
}

.element {
  margin: 1em;
  padding-top: 2em;
  min-height: 20vh;
}

#element-a {
  --a-color-1: #eb4b4b;
  --a-color-2: #ffb0b0;
  background: linear-gradient(
    to bottom right,
    var(--a-color-1) 0%,
    var(--a-color-2) 100%
  );
}

#element-b {
  --a-color-1: #2926d8;
  --a-color-2: #8599f0;
  background: linear-gradient(
    to bottom right,
    var(--a-color-1) 0%,
    var(--a-color-2) 100%
  );
}
